
.custumSubmitButton{
    width: 100%;

}

.flexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

p{
    width: 20%;
}

.EmailForm{
    width: 20%;

}

.notRegisteredQuestion{
 
}

