
.custumSubmitButton{
    width: 100%;

}

.flexContainer{
    display: flex;
    
    align-items:center;
    height: 100vh;
    flex-direction: column;
}

p{
    width: 200px;
}

.EmailForm{
    width: 200px;

}


form{
    padding:3px
}

a{
    border: none;
}

