



#dataGROUP{

display:flex;

flex-direction: column;

}


#map{
    height: 180px;
    width: 500px;
}


.uploadContainer{
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;


}
