<!DOCTYPE html> 

<html>


<head>
  <script type="module" src="./js/forgottPassword.js" defer> </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/forgottPassword.css">
</head>


<body>

  <div class="flexContainer"> 

   
        <h1> Forgott your password? </h1>


        <div class="statusMessage"> </div>
        <p> enter the email address associated with your account and well send you a link to reset your password</p>
        
          <form method="post" class="EmailForm">

            <div class="form-group">
              <label class="form-label"> Email </label>
              <input class="form-control customInputCSS" id="email" name="email " />
            </div>
            <button class=" custumSubmitButton btn btn-success" type="submit"> submit! </button>
          </form>
          <p class="notRegisteredQuestion">not Registered? here<a href="/registration"> sign Up!</a></p>

  
  </div>

</body>


</html>
