<html>


  <head> 
    <script type="module" src="./js/forgottPassword.js" defer > </script> 
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
  </head>


<body>
    <h1> Forgott your password?  </h1>
    
  
    <div class="statusMessage"> </div>   
    <div class="container">
    <form method="post" class="form-group" >
    
      <label> please enter your Email Address </label>
      <input id="email" name="email "/>
      <button
       type="submit"> submit! </button>


    </form>

    </div> 

  </body>


</html>
