<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Upload Page</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <script type="module" src="./js/upload.js" defer></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="./css/upload.css" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">



</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Logo oder Titel der Website -->
    <a class="navbar-brand" href="/">Discover Streetart</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
      aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content for toggling -->
    <div class="collapse navbar-collapse" id="navbarToggler">
      <!-- Navigation links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Menu</a>
        </li>
       
        <!-- Add more nav-item here if needed -->
      </ul>


        <!-- Sign in and registration links --> 
        <div sec:authorize="isAuthenticated()">
            <ul class="navbar-nav">
              <li class="nav-item" th:text ="${#authentication.getPrincipal().getUsername()}">  </li>

        
              <li class="nav-item">
                <a class="nav-link" href="/logout"> logout </a>
              </li>
            
            </ul>


          </div>
        
      </div>
    </div>
  </div>
</nav>

<body>

  <div id="flexContainer">


   
    <!--  <div sec:authentication="username"></div>-->
    <div class="uploadContainer">
      <h1> Upload </h1>
      <div class="statusMessage" style="display:none"> </div>

      <!-- this form is for all the other data we want to upload long latitude usw-->
      <form id="streetArtDATA" method="post" th:action="@{/streetArt}" enctype="text/plain">
        <div class="form-group dataInputForm" id="dataGROUP">
          <label class="form-label"> name (*requird) </label>
          <input class="form-control form-data" id="name" placeholder="name" type="text">
              

          <label class="form-label"> artist </label>
          <input class="form-control form-data" id="artist" placeholder="artist name" type="text">

          <label class="form-label"> description </label>
          <input  class="form-control form-data"id="description" placeholder="description" type="text">
          <label class="form-label"> creation Date </label>
          <input class="form-control form-data" id="creationDate" placeholder="creation Date" type="date">

          <label> longitude</label>
          <input id="longitude" placeholder="longitude" type="text" class="form-data" readonly>

          <label> latitude</label>
          <input id="latitude" placeholder="latitude" type="text" class="form-data" readonly>
          
          <label> <h3> please click on the map to select to Location :0 (*required) </h3></label>
          <div id="map"></div>
          <button id="locationButton" type="button" class=" btn btn-primary"> use your current location? </button>
         

      </form>
      

        <button disabled="true" id="submitPicture" type="button" onclick="void(0);"    class="btn btn-primary"> upload Your streetArtHere!</div>

          <footer class=" text-center text-lg-start bg-light text-muted">
            <div class="text-center p-4">
              © 2024 discover-streetart.de
              <a class="text-reset fw-bold" href="#">Back to top</a>
            </div>
          </footer>


       
      
      </div>
    </div>

  </div>

  </div>
</body>



</html>
